<div class="container">
  <div class="auth__container">
    <app-spinner *ngIf="loading"></app-spinner>
    <div class="qr__code_container" *ngIf="qrCodeGenerated">
      <h3 class="qr__code_title">Scan the QR Code</h3>
      <img src="{{ qrCode }}" alt="qr_code_authentication" />
    </div>
    <div class="auth__labels">
      <div class="auth__icon__container">
        <i class="fa-solid fa-lock"></i>
      </div>
      <input
        [(ngModel)]="totpCode"
        type="text"
        class="auth__input"
        placeholder="Authentication Code"
      />
    </div>

    <div class="buttons__container">
      <button class="button__auth" (click)="validate()">Autenticate</button>
    </div>

    <a class="return__login" (click)="doLogout()" href="/login"
      >Return to login</a
    >
  </div>
</div>
