.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(135deg, #4e54c8, #8f94fb);
  color: #fff;
  font-family: "Arial", sans-serif;
}

.auth__container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  gap: 5px;
  background-color: white;
}

.auth__labels {
  display: flex;
  width: 100%;
  height: 35px;
  border: 1px solid #ccc;
}

.auth__icon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  background-color: cadetblue;
  border: 1px solid #ccc;
}

i {
  color: white;
  font-size: 15px;
}

.auth__labels input {
  width: 100%;
  padding: 5px;
  outline: none;
  background-color: rgb(240, 248, 246);
}

.buttons__container {
  width: 100%;
  display: flex;
  gap: 10px;
}

.button__auth {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
}

.button__auth:hover {
  background-color: rgb(0, 128, 128);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.return__login {
  color: black;
  text-decoration: underline;
  font-size: smaller;
  align-self: flex-end;
  margin-right: 5px;
}

.qr__code_title {
  text-align: center;
  font-size: smaller;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}
