<div class="login__container">
  <div class="login__labels">
    <div class="login__icon__container">
      <i class="fa-solid fa-user"></i>
    </div>
    <input type="text" class="login__input" placeholder="email" />
  </div>

  <div class="login__labels">
    <div class="login__icon__container">
      <i class="fa-solid fa-lock"></i>
    </div>
    <input type="password" class="login__input" placeholder="password" />
  </div>

  <div class="buttons__container">
    <button class="button__register">Login</button>
    <button class="button__login">
      <a routerLink="/register">Register</a>
    </button>
  </div>
</div>
