<div class="register__container">
  <div class="register__labels">
    <div class="register__icon__container">
      <i class="fa-solid fa-star"></i>
    </div>
    <input type="text" class="register__input" placeholder="Nome completo" />
  </div>

  <div class="register__labels">
    <div class="register__icon__container">
      <i class="fa-solid fa-user"></i>
    </div>
    <input type="text" class="register__input" placeholder="email" />
  </div>

  <div class="register__labels">
    <div class="register__icon__container">
      <i class="fa-solid fa-lock"></i>
    </div>
    <input type="password" class="register__input" placeholder="password" />
  </div>

  <div class="buttons__container">
    <button class="button__register">Registrar</button>
  </div>
</div>
